.container{
    display: flex;
    flex-direction: column;

    margin-top:var(--size-3x);
}

.copy-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-bg-dark);
    border: 1px solid var(--color-border);

    padding: var(--size-2x);
    border-radius:var(--border-radius);

    transition: all 0.2s ease-in-out;
}

.copy-container:hover{
    border:1px solid var(--color-primary);
}