.grid {
  display: flex;
  gap: var(--size-2x);
  flex-direction: column;
  margin-top: var(--size-6x);
}

@media (min-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.link {
  color: var(--color-link);
}

.link:hover {
  color: var(--color-text);
  text-decoration: underline;
}

.title {
  margin-top: 0;
}

.description {
  line-height: 1.5;
  color: var(--color-text);
}
