.wrapper {
  display: flex;
  gap: var(--size-2x);
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 600px) {
  .wrapper {
    flex-direction: row;
  }
}

.logo {
  display: none;
}

@media (min-width: 600px) {
  .logo {
    display: block;
  }
}

.input {
  background-color: var(--color-bg);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  height: var(--size-6x);
  padding: var(--size-2x);
  font-size: 1rem;
  font-family: var(--font-family);
  width: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

@media (min-width: 600px) {
  .input {
    width: 20rem;
  }
}

.input:hover {
  border: 1px solid var(--color-border-dark);
  transition: all 0.2s ease-in-out;
}

.input:active,
.input:focus {
  background-color: var(--color-bg-dark);
  outline: none;
  transition: all 0.2s ease-in-out;
}
