.container{
    background: transparent;
    border:none;
}

.container svg{
    fill: var(--color-primary);
    width: 100%;
    height: 100%;
    max-width: var(--size-4x);
    max-height: var(--size-4x);
}