@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica-regular.woff2") format("woff2"),
    url("/fonts/helvetica-regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica-bold.woff2") format("woff2"),
    url("/fonts/helvetica-bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-bg: #ffffff;
  --color-bg-dark: #f9f9f9;
  --color-primary: #000000;
  --color-primary-light: #2d2d2d;
  --color-border: #dddddd;
  --color-border-dark: #cccccc;
  --color-link: #9d9d9d;
  --color-text: #4d4d4d;
  --color-yes: #60d464;
  --color-no: #f15b5b;
  --color-maybe: #ff9e57;

  --size-1x: 0.5rem;
  --size-2x: 1rem;
  --size-3x: 1.5rem;
  --size-4x: 2rem;
  --size-5x: 2.5rem;
  --size-6x: 3rem;

  --font-family: "Helvetica", sans-serif;

  --border-radius: 0.625rem;
}

::placeholder {
  color: #d7d7d7;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #d7d7d7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
